<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Category list</title>
  </head>
  <body>
    <header>
    <nav>
      {% if user.is_authenticated %}
      <li>
        <a href="{% url 'logout' %}">Logout</a>
      </li>
      <li>
        <a href="{% url 'category_list' %}">Category List</a>
        <a href="{% url 'account_list' %}">Account List</a>
        <a href="{% url 'create_category' %}">Create a Category</a>
        <a href="{% url 'create_account' %}">Create an Account</a>
      </li>
      {% else %}
      <li>
        <a href="{% url 'signup' %}">Signup</a>
      </li>
      <li>
        <a href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
    </nav>
  </header>
    <main>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Number of Receipts</th>
          </tr>
        </thead>
        <tbody>
          {% for category in categories %}
          <tr>
            <td>{{category.name}}</td>
            <td>{{category.receipts.all|length}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
