<!DOCTYPE HTML>
<html lang"en">
    <head>
        <title>Login</title>
    </head>
    <Body>
        <main>
            <div>
                <h1>Login</h1>
                <form method="post">
                 {% csrf_token %}
                 {{form.as_p}}
                 <button>Login</button>
                </form>

            </div>
        </main>
    </Body>
</html>
